.home-page{
    width: auto;
    height: 1000px;
    background-color: rgb(197, 92, 92);
    margin-top: 0px;
    &_top{
        width: 80%;
        margin: 0px auto;
        height: auto;
        display: flex;
        margin-top: 20px;

    }
    .atm{
         background-color: rgb(58, 158, 58);
         width: 40%;
         height: auto;
         flex-wrap: wrap;
         display: flex;
         
         
         
    }
}