.div{
    width: 100%;
    height: auto;
.CayATM{
    width: 27%;
    background-color: rgb(163, 125, 224);
    height: 180px;
    margin-top: 15px;
    margin-left: 15px;
    
    // &_img{
    //     width: 100%;
    //     height: 100%;
    //     background-color: grey;
    //     img{
           
    //     }
    // }
}
}